{% load static %}
{% load blog_tags %}
{% load jalali_tags %}
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR" dir="rtl">
<head>
    <title>امامت</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="fa">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="description" content="درگاه جامع اطلاع رسانی امامت (علیهم السلام)"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' id='ap-slick-css' href='{% static 'css/slick.css' %}' type='text/css' media='all'/>
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
</head>
<body onload="startTime()">
<div class="ap">
    <div class="big_header">
        <div class="ap_header">
            <div class="container">
                <div class="header_top">
                    <div class="ap_logo">
                        <a href="{% url 'website:index' %}" class="logo">
                            <img src="{% static 'img/logo.png' %}" alt="امام شناسی">
                        </a>
                    </div>
                    <div class="menu_top">
                        <div class="menu-%d8%af%d8%a7%d9%86%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b9%db%8c-container">
                            <ul id="menu-%d8%af%d8%a7%d9%86%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b9%db%8c"
                                class="menu">
                                <li id="menu-item-26"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26"><a
                                        href="{% url 'website:about' %}">درباره ما</a></li>
                                <li id="menu-item-26"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26"><a
                                        href="{% url 'website:contact' %}">تماس با ما</a></li>
                                <li id="menu-item-27"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a
                                        href="{% url 'website:links' %}">پیوندها</a></li>
                                {#                                <li id="menu-item-28"#}
                                {#                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28"><a#}
                                {#                                        href="http://#">دانشجویان</a></li>#}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header_bottom">
                    <div class="ap-nav">
                        <div class="menu">
                            <div class="menu-%d9%85%d9%86%d9%88%db%8c-%d8%a7%d8%b5%d9%84%db%8c-container">
                                <ul id="menu-%d9%85%d9%86%d9%88%db%8c-%d8%a7%d8%b5%d9%84%db%8c" class="nav-menu">
                                    <li id="menu-item-386"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-386">
                                        <a href="{% url 'website:index' %}">
                                            <i class="fa fa-home"></i>
                                        </a>
                                        {#                                        <ul class="sub-menu">#}
                                        {#                                            <li id="menu-item-543"#}
                                        {#                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-543">#}
                                        {#                                                <a href="">ثبت نام سطح ۴ امام شناسی</a>#}
                                        {#                                                <ul class="sub-menu">#}
                                        {#                                                    <li id="menu-item-544"#}
                                        {#                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-544">#}
                                        {#                                                        <a href="">تماس با ما</a></li>#}
                                        {#                                                </ul>#}
                                        {#                                            </li>#}
                                        {#                                            <li id="menu-item-545"#}
                                        {#                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-545">#}
                                        {#                                                <a href="">پیوندهای سایت</a></li>#}
                                        {#                                            <li id="menu-item-546"#}
                                        {#                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-546">#}
                                        {#                                                <a href="">صفحه نخست</a>#}
                                        {#                                                <ul class="sub-menu">#}
                                        {#                                                    <li id="menu-item-547"#}
                                        {#                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-547">#}
                                        {#                                                        <a href="">برگه دو ستونه</a></li>#}
                                        {#                                                    <li id="menu-item-548"#}
                                        {#                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-548">#}
                                        {#                                                        <a href="">برگه تمام عرض</a></li>#}
                                        {#                                                    <li id="menu-item-549"#}
                                        {#                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-549">#}
                                        {#                                                        <a href="">جستجوی پیشرفته</a>#}
                                        {#                                                    </li>#}
                                        {#                                                </ul>#}
                                        {#                                            </li>#}
                                        {#                                            <li id="menu-item-550"#}
                                        {#                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-550">#}
                                        {#                                                <a href=""></a></li>#}
                                        {#                                        </ul>#}
                                    </li>
                                    <li id="menu-item-532"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-532">
                                        <a href="{% url 'blog:blog-archive' %}">اخبار</a></li>
                                    {#                                    <li id="menu-item-504"#}
                                    {#                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-504">#}
                                    {#                                        <a href="">آموزش</a></li>#}
                                    {#                                    <li id="menu-item-344"#}
                                    {#                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-344">#}
                                    {#                                        <a href="">پژوهش</a></li>#}
                                    {#                                    <li id="menu-item-345"#}
                                    {#                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-345">#}
                                    {#                                        <a href="">تهذیب</a></li>#}
                                    {#                                    <li id="menu-item-392"#}
                                    {#                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-392">#}
                                    {#                                        <a href="">تماس با ما</a></li>#}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mapp"><a onclick="myFunction()" class="dropbtn"> اخبار استانها</a></div>
                    <div class="ap-search">
                        <div class="bars"><span></span><span></span><span></span></div>
                        <a class="toggle" href="#toggle" onclick="openNav()"><span class="icon-reorder"></span></a><i
                            id="search-btn" class="fa fa-search"></i></div>
                </div>
            {{request.POST.cat}}
            {% blog_map_city 1 1 %}

            </div>
            <div id="site-navigation">
                <div class="side-menu">
                    <div class="mappi"><a onclick="myFunction()" class="dropbtn"> اخبار استانها</a></div>
                    <div class="menu-%d9%85%d9%86%d9%88-%d8%b1%db%8c%d8%b3%d9%be%d8%a7%d9%86%d8%b3%db%8c%d9%88-container">
                        <ul id="menu-%d9%85%d9%86%d9%88-%d8%b1%db%8c%d8%b3%d9%be%d8%a7%d9%86%d8%b3%db%8c%d9%88"
                            class="menu">
                            <li id="menu-item-335"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-335">
                                <a href="{% url 'website:index' %}" aria-current="page">صفحه نخست</a></li>
                            <li id="menu-item-328"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-328">
                                <a href="{% url 'blog:blog-archive' %}">اخبار</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-329"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-329">
                                        <a href="">آموزش</a></li>
                                    <li id="menu-item-330"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-330">
                                        <a href="">پژوهش</a></li>
                                    <li id="menu-item-331"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-331">
                                        <a href="">تهذیب</a></li>
                                    <li id="menu-item-332"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-332">
                                        <a href="">پایان نامه</a></li>
                                    <li id="menu-item-334"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-334">
                                        <a href="">نمایندگی‌ها</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-316"
                                class="menu-item menu-item-type-taxonomy menu-item-object-suond_category menu-item-has-children menu-item-316">
                                <a href="">صوت</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-317"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-suond_category menu-item-317">
                                        <a href="">مداحی</a></li>
                                    <li id="menu-item-318"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-suond_category menu-item-318">
                                        <a href="">مولودی</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-319"
                                class="menu-item menu-item-type-taxonomy menu-item-object-gallery_category menu-item-319">
                                <a href="">گالری عکس</a></li>
                            <li id="menu-item-320"
                                class="menu-item menu-item-type-taxonomy menu-item-object-media_category menu-item-320">
                                <a href="">گالری فیلم</a></li>
                            <li id="menu-item-321"
                                class="menu-item menu-item-type-post_type_archive menu-item-object-spical menu-item-has-children menu-item-321">
                                <a href="">ویژه خبری</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-322"
                                        class="menu-item menu-item-type-post_type menu-item-object-spical menu-item-322">
                                        <a href="">مذهبی</a></li>
                                    <li id="menu-item-323"
                                        class="menu-item menu-item-type-post_type menu-item-object-spical menu-item-323">
                                        <a href="">ورزش</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-324"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-324">
                                <a href="">فروشگاه</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-326"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-326">
                                        <a href="">نرم
                                            افزار</a></li>
                                    <li id="menu-item-325"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-325">
                                        <a href="">کتاب</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-327"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-327"><a
                                    href="">اخبار</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul id="leftmenu">
                <li class="menu1"><a href="{% url 'website:index' %}" class="home" target="_blank">
                    <span>صفحه نخست</span></a>
                </li>
                <li class="menu2"><a href="{% url 'website:about' %}" class="about"
                                     target="_blank"><span>درباره ما</span></a></li>
                <li class="menu2"><a href="{% url 'website:contact' %}" class="about"
                                     target="_blank"><span>ارتباط با ما</span></a></li>
                {#                <li class="menu4"><a href="" class="services" target="_blank"> <span>سروش</span></a></li>#}
                {#                <li class="menu5"><a href="" class="services" target="_blank"> <span>ایتا</span></a></li>#}
                {#                <li class="menu6"><a href="" class="about" target="_blank"><span>آپارات</span></a></li>#}
                {#                <li class="menu7"><a href="" class="home" target="_blank"> <span>اینستاگرام</span></a></li>#}
                <li class="menu8"><a href="{% url 'website:links' %}" class="services" target="_blank">
                    <span>پیوندها</span></a></li>
                <li class="go-top"><a href="#"><i class="fa fa-arrow-up"></i><span>برو بالا</span></a></li>
            </ul>
        </div>
    </div>
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('clock').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i
            }
            ;  // add zero in front of numbers < 10
            return i;
        }
    </script>
    <div id="mySidenav" class="sidenav">
        <s></s>
        <div class="ind-ii">
            <div class="hadis">
                <div class="tit522"> حدیث روز</div>
                <div class="cone96">
                    <marquee onmouseover="this.stop()" onmouseout="this.start()" direction="right" height="25"
                             style="direction: rtl; text-align: center;" scrollamount="5" scrolldelay="70">
                        امام علی (ع) می فرماید : هر کس از خود بدگویی و انتقاد کند٬ خود را اصلاح کرده و هر کس خودستایی
                        نماید٬ پس به تحقیق خویش را تباه نموده است.
                    </marquee>
                </div>
            </div>
            <br>
            <b><i class="fa fa-sun-o" aria-hidden="true"></i> پنج شنبه, ۶ آبان , ۱۴۰۰</b>
            <b><i class="fa fa-moon-o" aria-hidden="true"></i> 22 ربيع أول 1443</b>
            <b><i class="fa fa-star" aria-hidden="true"></i>{% now "d-M-Y" %}</b>
            <b><i class="fa fa-star"
                  aria-hidden="true"></i>{{ request.user.date_joined|to_jalali:'%Y/%m/%d _ %H:%M:%S' }}</b>
            <b><i class="fa fa-clock-o" aria-hidden="true"></i> ساعت <span id="clock"></span></b>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        </div>
    </div>
    <div class="container">
        <div class="marquee">
            <div class="t"><h3>اطلاعیه ها</h3></div>
            <div class="mframe">
                <div class="marquee-frame" data-direction="right" dir="ltr">
                    <p>
                        {% filter_post_header 5 %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}
    <div class="clearfix"></div>
    <footer class="ap-footer clearfix">
        <div class="container">
            <div class="footer-wid clearfix">
                <div class="footer-1">
                    <div class="footer-box">
                        <div class="footer-header"><h4>درباره سایت</h4><b></b></div>
                        <div class="footer-content">
                            <div class="post-wrap">
                                <div class="textwidget"><p><img loading="lazy" class="alignnone size-full wp-image-459"
                                                                src="{% static 'img/logo.png' %}"
                                                                alt="" width="250" height="80"/></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-2">
                    <div class="footer-box">
                        <div class="footer-header"><h4>اخبار</h4><b></b></div>
                        <div class="footer-content">
                            <div class="post-wrap">
                                <div class="widget wid-editors">
                                    <div class="list">
                                        {% blog_footer 5 1 %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-3">
                    <div class="footer-box">
                        <div class="footer-header"><h4>آموزش</h4><b></b></div>
                        <div class="footer-content">
                            <div class="post-wrap">
                                <div class="widget wid-editors">
                                    <div class="list">
                                        {% blog_footer 5 3 %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fo-canect">
                <div class="aaa">
                    <i class="fa fa-phone"></i>
                    <span>شـماره تمـاس</span>
                    <b>۳۷۸۴۱۰۱۵</b>
                </div>

                <div class="eee">
                    <i class="fa fa-envelope"></i>
                    <span>پسـت الـکترونیـکی</span>
                    <b>info@emamat.org</b>
                </div>

                <div class="ccc">
                    <i class="fa fa-map-marker"></i>
                    <span>آدرس پسـتی</span>
                    <b>قم. خیابان معلم. معلم ۱۰ . خیابان شهیدین بهشتی و قدوسی (۶۱متري عباس آباد). پلاک ۵۶</b>
                </div>
            </div>
            <div class="copyright-area">
                <ul id="menu-footer" class="footer-menu">
                    <div class="menu-%d9%86%d9%85%d8%a7%db%8c%d9%86%d8%af%d9%87-%d8%a8%d8%a7%d9%84%d8%a7-%d9%be%d8%a7%db%8c%db%8c%d9%86-container">
                        <ul id="menu-%d9%86%d9%85%d8%a7%db%8c%d9%86%d8%af%d9%87-%d8%a8%d8%a7%d9%84%d8%a7-%d9%be%d8%a7%db%8c%db%8c%d9%86"
                            class="menu">
                            <li id="menu-item-171"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-171"><a
                                    href="{% url 'website:about' %}">درباره ما</a></li>
                            <li id="menu-item-172"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-172"><a
                                    href="{% url 'website:contact' %}">اطلاعات تماس</a></li>
                        </ul>
                    </div>
                </ul>
                <ul class="sociale">
                    <li><a class="fa-fc" title="فیسبوک" rel="tooltip" href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a class="fa-tw" title="تویتر" rel="tooltip" href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a class="fa-in" title="اینستاگرام" rel="tooltip" href=""><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a class="fa-pa" title="تلگرام" rel="tooltip" href=""><i class="fa fa-paper-plane"></i></a></li>
                    <li><a class="fa-go" title="گوگل پلاس" rel="tooltip" href=""><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li><a class="fa-ap" title="آپارات" rel="tooltip" href=""></a></li>
                    <li><a class="fa-yo" title="یوتیوب" rel="tooltip" href=""><i class="fa fa-youtube"></i></a></li>
                    <li><a class="fa-rs" title="فید مطالب" rel="tooltip" href=""><i
                            class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<div id="search-overlay" class="block">
    <div class="centered">
        <div id='search-box'>
            <i id="close-btn" class="fa fa-times"></i>
            <form method="get" action="{% url 'blog:search' %}" id="search-form">
                <input id='search-text' name='s' placeholder='کلمه مورد نظر خود را بنویسید ...' type='text'/>
                <button id='search-button' type='submit'>
                    <span>جستجو</span>
                </button>
            </form>
        </div>
    </div>
</div>
<script type='text/javascript' src='{% static 'js/jquery.min.js' %}'></script>
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
<script type='text/javascript' src='{% static 'js/slick.min.js' %}'></script>
<script type='text/javascript' src='{% static 'js/marquee.min.js' %}'></script>
<script type='text/javascript' src='{% static 'js/main.js' %}'></script>

<script>$(document).ready(function () {
    $('.ap_news,.co-aside').theiaStickySidebar({additionalMarginTop: 30});
});
</script>
{% block javascript %}

{% endblock %}
</body>
</html>