{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR" dir="rtl">
<head>
    <title>امامت</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="fa">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="description" content="درگاه جامع اطلاع رسانی امامت (علیهم السلام)"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' id='ap-slick-css' href='{% static 'css/slick.css' %}' type='text/css' media='all'/>
</head>
<body>
<div class="ap">
    <div class="big_header">
        <div class="ap_header">
            <div class="container">
                <div class="header_top">
                    <div class="ap_logo">
                        <a href="{% url 'website:index' %}" class="logo">
                            <img src="{% static 'img/logo.png' %}" alt="امام شناسی">
                        </a>
                    </div>
                    <div class="menu_top">
                        <div class="menu-%d8%af%d8%a7%d9%86%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b9%db%8c-container">
                            <ul id="menu-%d8%af%d8%a7%d9%86%d8%b4%da%af%d8%a7%d9%87-%d9%81%d8%b1%d8%b9%db%8c"
                                class="menu">
                                <li id="menu-item-26"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26"><a
                                        href="{% url 'website:about' %}">درباره ما</a></li>
                                <li id="menu-item-26"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26"><a
                                        href="{% url 'website:contact' %}">تماس با ما</a></li>
                                <li id="menu-item-27"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a
                                        href="http://#">اساتید</a></li>
                                <li id="menu-item-28"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28"><a
                                        href="http://#">دانشجویان</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header_bottom">
                    <div class="ap-nav">
                        <div class="menu">
                            <div class="menu-%d9%85%d9%86%d9%88%db%8c-%d8%a7%d8%b5%d9%84%db%8c-container">
                                <ul id="menu-%d9%85%d9%86%d9%88%db%8c-%d8%a7%d8%b5%d9%84%db%8c" class="nav-menu">
                                    <li id="menu-item-386"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-386">
                                        <a href="https://emamat.org/index/">صفحه نخست</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-543"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-543">
                                                <a href="https://emamat.org/register/">ثبت نام سطح ۴ امام شناسی</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-544"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-544">
                                                        <a href="https://emamat.org/contact/">تماس با ما</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-545"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-545">
                                                <a href="https://emamat.org/linkha/">پیوندهای سایت</a></li>
                                            <li id="menu-item-546"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-546">
                                                <a href="https://emamat.org/index/">صفحه نخست</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-547"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-547">
                                                        <a href="https://emamat.org/pag-small/">برگه دو ستونه</a></li>
                                                    <li id="menu-item-548"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-548">
                                                        <a href="https://emamat.org/page-big/">برگه تمام عرض</a></li>
                                                    <li id="menu-item-549"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-549">
                                                        <a href="https://emamat.org/page-search/">جستجوی پیشرفته</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-550"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-550">
                                                <a href="https://emamat.org/برگه-نمونه/">برگه نمونه</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-532"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-532">
                                        <a href="https://emamat.org/register/">ثبت نام سطح ۴ امام شناسی</a></li>
                                    <li id="menu-item-504"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-504">
                                        <a href="https://emamat.org/category/zohour-news/education/">آموزش</a></li>
                                    <li id="menu-item-344"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-344">
                                        <a href="https://emamat.org/category/zohour-news/research/">پژوهش</a></li>
                                    <li id="menu-item-345"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-345">
                                        <a href="https://emamat.org/category/zohour-news/cultural/">تهذیب</a></li>
                                    <li id="menu-item-392"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-392">
                                        <a href="https://emamat.org/contact/">تماس با ما</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mapp"><a onclick="myFunction()" class="dropbtn"> اخبار استانها</a></div>
                    <div class="ap-search">
                        <div class="bars"><span></span><span></span><span></span></div>
                        <a class="toggle" href="#toggle" onclick="openNav()"><span class="icon-reorder"></span></a><i
                            id="search-btn" class="fa fa-search"></i></div>
                </div>
            </div>
            <div id="site-navigation">
                <div class="side-menu">
                    <div class="mappi"><a onclick="myFunction()" class="dropbtn"> اخبار استانها</a></div>
                    <div class="menu-%d9%85%d9%86%d9%88-%d8%b1%db%8c%d8%b3%d9%be%d8%a7%d9%86%d8%b3%db%8c%d9%88-container">
                        <ul id="menu-%d9%85%d9%86%d9%88-%d8%b1%db%8c%d8%b3%d9%be%d8%a7%d9%86%d8%b3%db%8c%d9%88"
                            class="menu">
                            <li id="menu-item-335"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-335">
                                <a href="http://emamat.org/" aria-current="page">صفحه نخست</a></li>
                            <li id="menu-item-328"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-328">
                                <a href="https://emamat.org/category/zohour-news/">موضوعات</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-329"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-329">
                                        <a href="https://emamat.org/category/zohour-news/education/">آموزش</a></li>
                                    <li id="menu-item-330"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-330">
                                        <a href="https://emamat.org/category/zohour-news/research/">پژوهش</a></li>
                                    <li id="menu-item-331"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-331">
                                        <a href="https://emamat.org/category/zohour-news/cultural/">تهذیب</a></li>
                                    <li id="menu-item-332"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-332">
                                        <a href="https://emamat.org/category/zohour-news/thesis/">پایان نامه</a></li>
                                    <li id="menu-item-334"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-334">
                                        <a href="https://emamat.org/category/zohour-news/agencies/">نمایندگی‌ها</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-316"
                                class="menu-item menu-item-type-taxonomy menu-item-object-suond_category menu-item-has-children menu-item-316">
                                <a href="https://emamat.org/suond_category/suond/">صوت</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-317"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-suond_category menu-item-317">
                                        <a href="https://emamat.org/suond_category/madahi/">مداحی</a></li>
                                    <li id="menu-item-318"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-suond_category menu-item-318">
                                        <a href="https://emamat.org/suond_category/molodi/">مولودی</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-319"
                                class="menu-item menu-item-type-taxonomy menu-item-object-gallery_category menu-item-319">
                                <a href="https://emamat.org/gallery_category/photo/">گالری عکس</a></li>
                            <li id="menu-item-320"
                                class="menu-item menu-item-type-taxonomy menu-item-object-media_category menu-item-320">
                                <a href="https://emamat.org/media_category/film/">گالری فیلم</a></li>
                            <li id="menu-item-321"
                                class="menu-item menu-item-type-post_type_archive menu-item-object-spical menu-item-has-children menu-item-321">
                                <a href="https://emamat.org/spical/">ویژه خبری</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-322"
                                        class="menu-item menu-item-type-post_type menu-item-object-spical menu-item-322">
                                        <a href="https://emamat.org/spical/islami/">مذهبی</a></li>
                                    <li id="menu-item-323"
                                        class="menu-item menu-item-type-post_type menu-item-object-spical menu-item-323">
                                        <a href="https://emamat.org/spical/sport/">ورزش</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-324"
                                class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-324">
                                <a href="https://emamat.org/product-category/shop/">فروشگاه</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-326"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-326">
                                        <a href="https://emamat.org/product-category/%d9%86%d8%b1%d9%85-%d8%a7%d9%81%d8%b2%d8%a7%d8%b1/">نرم
                                            افزار</a></li>
                                    <li id="menu-item-325"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-325">
                                        <a href="https://emamat.org/product-category/%da%a9%d8%aa%d8%a7%d8%a8/">کتاب</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-327"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-327"><a
                                    href="https://emamat.org/category/news/">اخبار</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul id="leftmenu">
                <li class="menu1"><a href="https://emamat.org" class="home" target="_blank"> <span>صفحه نخست</span></a>
                </li>
                <li class="menu2"><a href="" class="about" target="_blank"><span>تالار گفتمان</span></a></li>
                <li class="menu3"><a href="" class="about" target="_blank"><span>اپلیکیشن سایت</span></a></li>
                <li class="menu4"><a href="" class="services" target="_blank"> <span>سروش</span></a></li>
                <li class="menu5"><a href="" class="services" target="_blank"> <span>ایتا</span></a></li>
                <li class="menu6"><a href="" class="about" target="_blank"><span>آپارات</span></a></li>
                <li class="menu7"><a href="" class="home" target="_blank"> <span>اینستاگرام</span></a></li>
                <li class="menu8"><a href="" class="services" target="_blank"> <span>اطلاعات سایت</span></a></li>
                <li class="go-top"><a href="#"><i class="fa fa-arrow-up"></i><span>برو بالا</span></a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="marquee">
            <div class="t"><h3>اطلاعیه ها</h3></div>
            <div class="mframe">
                <div class="marquee-frame" data-direction="right" dir="ltr">
                    <p>
                        <img src="http://emamat.org/wp-content/themes/zohour/img/favicon.png">
                        <span><a href="" title="ثبت نام سطح ۴ امام شناسی">ثبت نام سطح ۴ امام شناسی</a></span>
                        <img src="http://emamat.org/wp-content/themes/zohour/img/favicon.png">
                        <span><a href="" title="امامت گرایش امامت تطبیقی (سطح۴ حوزه علمیه)">امامت گرایش امامت تطبیقی (سطح۴ حوزه علمیه)</a></span>
                        <img src="http://emamat.org/wp-content/themes/zohour/img/favicon.png">
                        <span><a href="" title="امامت گرایش امام شناسی (سطح۴ حوزه علمیه)">امامت گرایش امام شناسی (سطح۴ حوزه علمیه)</a></span>
                        <img src="http://emamat.org/wp-content/themes/zohour/img/favicon.png">
                        <span><a href="" title="رشته امامت (سطح ۳ حوزه علمیه)">رشته امامت (سطح ۳ حوزه علمیه)</a></span>
                        <img src="http://emamat.org/wp-content/themes/zohour/img/favicon.png">
                        <span><a href="" title="نشست علمی آموزه علم امام در میراث کلامی و حدیثی شیعه برگزار شد">نشست علمی آموزه علم امام در میراث کلامی و حدیثی شیعه برگزار شد</a></span>
                        <img src="http://emamat.org/wp-content/themes/zohour/img/favicon.png">
                        <span><a href="" title="دوره ی شکل گیری تشیع دوازده امامی؛ واکاوی نقدها و ابهام ها">دوره ی شکل گیری تشیع دوازده امامی؛ واکاوی نقدها و ابهام ها</a></span>
                        <img src="http://emamat.org/wp-content/themes/zohour/img/favicon.png">
                        <span><a href="" title="حدیث «سیدا شباب أهل الجنه» و مسأله افضلیّت امام">حدیث «سیدا شباب أهل الجنه» و مسأله افضلیّت امام</a></span>
                        <img src="http://emamat.org/wp-content/themes/zohour/img/favicon.png">
                        <span><a href="" title="درآمدی بر تاریخ کلام امامیه در حلب">درآمدی بر تاریخ کلام امامیه در حلب</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}
    <div class="clearfix"></div>
    <footer class="ap-footer clearfix">
        <div class="container">
            <div class="footer-wid clearfix">
                <div class="footer-1">
                    <div class="footer-box">
                        <div class="footer-header"><h4>درباره سایت</h4><b></b></div>
                        <div class="footer-content">
                            <div class="post-wrap">
                                <div class="textwidget"><p><img loading="lazy" class="alignnone size-full wp-image-459"
                                                                src="{% static 'img/logo.png' %}"
                                                                alt="" width="250" height="80"/></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-2">
                    <div class="footer-box">
                        <div class="footer-header"><h4>اخبار</h4><b></b></div>
                        <div class="footer-content">
                            <div class="post-wrap">
                                <div class="widget wid-editors">
                                    <div class="list">
                                        <div class="item clearfix">
                                            <div class="tit"><h2><a href="https://emamat.org/register/"
                                                                    title="ثبت نام سطح ۴ امام شناسی">ثبت نام سطح ۴ امام
                                                شناسی</a></h2></div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="tit"><h2><a
                                                    href="https://emamat.org/%d8%b1%d8%b4%d8%aa%d9%87-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%b3%d8%b7%d8%ad-3-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"
                                                    title="رشته امامت (سطح ۳ حوزه علمیه)">رشته امامت (سطح ۳ حوزه
                                                علمیه)</a></h2></div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="tit"><h2><a
                                                    href="https://emamat.org/%d8%ad%d8%af%db%8c%d8%ab-%d8%b3%db%8c%d8%af%d8%a7-%d8%b4%d8%a8%d8%a7%d8%a8-%d8%a3%d9%87%d9%84-%d8%a7%d9%84%d8%ac%d9%86%d9%87-%d9%88-%d9%85%d8%b3%d8%a3%d9%84%d9%87-%d8%a7%d9%81%d8%b6%d9%84/"
                                                    title="حدیث «سیدا شباب أهل الجنه» و مسأله افضلیّت امام">حدیث «سیدا
                                                شباب أهل الجنه» و مسأله افضلیّت امام</a></h2></div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="tit"><h2><a
                                                    href="https://emamat.org/%d8%af%d8%b1%d8%a2%d9%85%d8%af%db%8c-%d8%a8%d8%b1-%d8%aa%d8%a7%d8%b1%db%8c%d8%ae-%da%a9%d9%84%d8%a7%d9%85-%d8%a7%d9%85%d8%a7%d9%85%db%8c%d9%87-%d8%af%d8%b1-%d8%ad%d9%84%d8%a8/"
                                                    title="درآمدی بر تاریخ کلام امامیه در حلب">درآمدی بر تاریخ کلام
                                                امامیه در حلب</a></h2></div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="tit"><h2><a
                                                    href="https://emamat.org/%d8%a7%d8%b9%d8%aa%d8%b1%d8%a7%d8%b6-%d8%b9%d9%84%d8%a7%d9%85%d9%87-%d8%b4%d8%b1%d9%81%e2%80%8c%d8%a7%d9%84%d8%af%db%8c%d9%86-%d8%a8%d9%87-%d8%aa%d8%ae%d8%b1%db%8c%d8%a8-%d8%a8%d9%82%d8%a7%d8%b9/"
                                                    title="اعتراض علامه شرف‌الدین به تخریب بقاع بقیع و تلاش های بین‌المللی">اعتراض
                                                علامه شرف‌الدین به تخریب بقاع بقیع و تلاش های بین‌المللی</a></h2></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-3">
                    <div class="footer-box">
                        <div class="footer-header"><h4>آموزش</h4><b></b></div>
                        <div class="footer-content">
                            <div class="post-wrap">
                                <div class="widget wid-editors">
                                    <div class="list">
                                        <div class="item clearfix">
                                            <div class="tit"><h2><a
                                                    href="https://emamat.org/%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%da%af%d8%b1%d8%a7%db%8c%d8%b4-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%aa%d8%b7%d8%a8%db%8c%d9%82%db%8c-%d8%b3%d8%b7%d8%ad4-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c/"
                                                    title="امامت گرایش امامت تطبیقی (سطح۴ حوزه علمیه)">امامت گرایش امامت
                                                تطبیقی (سطح۴ حوزه علمیه)</a></h2></div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="tit"><h2><a
                                                    href="https://emamat.org/%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%da%af%d8%b1%d8%a7%db%8c%d8%b4-%d8%a7%d9%85%d8%a7%d9%85-%d8%b4%d9%86%d8%a7%d8%b3%db%8c-%d8%b3%d8%b7%d8%ad4-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"
                                                    title="امامت گرایش امام شناسی (سطح۴ حوزه علمیه)">امامت گرایش امام
                                                شناسی (سطح۴ حوزه علمیه)</a></h2></div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="tit"><h2><a
                                                    href="https://emamat.org/%d8%b1%d8%b4%d8%aa%d9%87-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%b3%d8%b7%d8%ad-3-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"
                                                    title="رشته امامت (سطح ۳ حوزه علمیه)">رشته امامت (سطح ۳ حوزه
                                                علمیه)</a></h2></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fo-canect">
                <div class="aaa">
                    <i class="fa fa-phone"></i>
                    <span>شـماره تمـاس</span>
                    <b>۳۷۸۴۱۰۱۵</b>
                </div>

                <div class="eee">
                    <i class="fa fa-envelope"></i>
                    <span>پسـت الـکترونیـکی</span>
                    <b>info@emamat.org</b>
                </div>

                <div class="ccc">
                    <i class="fa fa-map-marker"></i>
                    <span>آدرس پسـتی</span>
                    <b>قم. خیابان معلم. معلم ۱۰ . خیابان شهیدین بهشتی و قدوسی (۶۱متري عباس آباد). پلاک ۵۶</b>
                </div>
            </div>
            <div class="copyright-area">
                <ul id="menu-footer" class="footer-menu">
                    <div class="menu-%d9%86%d9%85%d8%a7%db%8c%d9%86%d8%af%d9%87-%d8%a8%d8%a7%d9%84%d8%a7-%d9%be%d8%a7%db%8c%db%8c%d9%86-container">
                        <ul id="menu-%d9%86%d9%85%d8%a7%db%8c%d9%86%d8%af%d9%87-%d8%a8%d8%a7%d9%84%d8%a7-%d9%be%d8%a7%db%8c%db%8c%d9%86"
                            class="menu">
                            <li id="menu-item-171"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-171"><a
                                    href="http://#">ارتباط مردمی</a></li>
                            <li id="menu-item-172"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-172"><a
                                    href="http://#">اطلاعات تماس</a></li>
                        </ul>
                    </div>
                </ul>
                <ul class="sociale">
                    <li><a class="fa-fc" title="فیسبوک" rel="tooltip" href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a class="fa-tw" title="تویتر" rel="tooltip" href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a class="fa-in" title="اینستاگرام" rel="tooltip" href=""><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a class="fa-pa" title="تلگرام" rel="tooltip" href=""><i class="fa fa-paper-plane"></i></a></li>
                    <li><a class="fa-go" title="گوگل پلاس" rel="tooltip" href=""><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li><a class="fa-ap" title="آپارات" rel="tooltip" href=""></a></li>
                    <li><a class="fa-yo" title="یوتیوب" rel="tooltip" href=""><i class="fa fa-youtube"></i></a></li>
                    <li><a class="fa-rs" title="فید مطالب" rel="tooltip" href="https://emamat.org/feed/rss/"><i
                            class="fa fa-rss"></i></a></li>
                </ul>
            </div>
            <div class="copy-bo">
                <ul>
                </ul>
                <div class="app-site">
                </div>
            </div>
        </div>
    </footer>
</div>

<div id="search-overlay" class="block">
    <div class="centered">
        <div id='search-box'>
            <i id="close-btn" class="fa fa-times"></i>
            <form method="get" action="https://emamat.org" id="search-form">
                <input id='search-text' name='s' placeholder='کلمه مورد نظر خود را بنویسید ...' type='text'/>
                <button id='search-button' type='submit'>
                    <span>جستجو</span>
                </button>
            </form>
        </div>
    </div>
</div>
<script type='text/javascript' src='{% static 'js/jquery.min.js' %}'></script>
<script type='text/javascript' src='{% static 'js/slick.min.js' %}'></script>
<script type='text/javascript' src='{% static 'js/marquee.min.js' %}'></script>
<script type='text/javascript' src='{% static 'js/main.js' %}'></script>
<script>$(document).ready(function () {
    $('.ap_news,.co-aside').theiaStickySidebar({additionalMarginTop: 30});
});
</script>
</body>
</html>