{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <section class="ap_main" style="transform: none;">
        <div class="container inn" style="transform: none;">
            <div class="ap_news"
                 style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">


                <div class="theiaStickySidebar"
                     style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                    <div class="ap-single">
                        <section class="article clearfix">
                            <div class="head_seangle">
                                <h1><a href="https://emamat.org/contact/">تماس با ما</a></h1>
                            </div>
                            <div class="conteneur_barre_outils">
<span class="soc">
<a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=https://emamat.org/contact/"
   title="اشتراک گذاری در فیسبوک" rel="tooltip" class="fa fa-facebook"></a>
<a target="_blank" href="http://twitter.com/home?status=https://emamat.org/contact/" title="اشتراک گذاری در تویتر"
   rel="tooltip" class="fa fa-twitter"></a>
<a target="_blank" href="http://plus.google.com/share?url=https://emamat.org/contact/" title="اشتراک گذاری در گوگل پلاس"
   rel="tooltip" class="fa fa-google-plus"></a>
<a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://emamat.org/contact/"
   title="اشتراک گذاری در لینکداین" rel="tooltip" class="fa fa-linkedin"></a>
<a target="_blank" href="https://telegram.me/share/url?url=https://emamat.org/contact/" title="اشتراک گذاری در تلگرام"
   rel="tooltip" class="fa fa-paper-plane"></a>
<a target="_blank" href="https://whatsapp://send?text=https://emamat.org/contact/" title="اشتراک گذاری در واتساپ"
   rel="tooltip" class="fa fa-whatsapp"></a>
</span>
                                <div class="fontsize">
                                    <div class="report">
                                        <div id="permalink">
                                            <button onclick="copyToClipboard('#coop')">کپی</button>
                                            <div id="coop">https://emamat.org/?p=388</div>
                                        </div>
                                    </div>
                                    <a rel="nofollow" class="send_file left"
                                       href="mailto:?subject=Sur%20%D8%A7%D9%85%D8%A7%D9%85%20%D8%B4%D9%86%D8%A7%D8%B3%DB%8C%20%3A%20%D8%AA%D9%85%D8%A7%D8%B3%20%D8%A8%D8%A7%20%D9%85%D8%A7&amp;body=I%20recommend%20this%20page%20%3A%20%D8%AA%D9%85%D8%A7%D8%B3%20%D8%A8%D8%A7%20%D9%85%D8%A7.%20You%20can%20read%20it%20on%20%3A%20https%3A%2F%2Femamat.org%2Fcontact%2F"
                                       title=" : تماس با ما"></a><a class="print" href="#"
                                                                    onclick="window.open(&quot;https://emamat.org/contact/?print=1&quot;, &quot;printwin&quot;,&quot;left=200,top=200,width=820,height=550,toolbar=1,resizable=0,status=0,scrollbars=1&quot;);"></a>
                                    <div class="plustext">پ</div>
                                    <div class="minustext">پ</div>
                                </div>
                            </div>
                            <div id="entry">
                                <div class="entry">
                                    <blockquote><p>لطفاً برای تماس با ما، به نکات زیر توجه فرمایید:</p></blockquote>
                                    <ul>
                                        <li>به دليل وجود مسائل قانوني و حقوقي، نامه هاي ‘درخواست’ و ‘شكايات’ بايد بصورت
                                            كتبي به صندوق پستي (ارتباط مردمي) ارسال شوند.
                                        </li>
                                        <li>برای ارتباط تلفنی با واحد سوالات شرعی و واحد خمس با شماره‌های زیر تماس
                                            بگیرید:<br>
                                            واحد سوالات شرعی : ۶-۶۴۴۱۲۰۰۰ ۰۲۱<br>
                                            واحد سوالات شرعی ویژه خواهران : ۶۴۴۱۱ ۰۲۱<br>
                                            واحد خمس : ۶۴۴۱۲۵۳۵، ۶۴۴۱۲۷۸۲ ۰۲۱
                                        </li>
                                        <li>نظر ، پیشنهاد و انتقاد خود را پيرامون مسایل سایت ، در قسمت پایین وارد کنید
                                            :
                                        </li>
                                    </ul>
                                    <p>&nbsp;</p>
                                    <div role="form" class="wpcf7" id="wpcf7-f390-p388-o1" lang="fa-IR" dir="rtl">
                                        <div class="screen-reader-response"><p role="status" aria-live="polite"
                                                                               aria-atomic="true"></p>
                                            <ul></ul>
                                        </div>
                                        <form action="/contact/#wpcf7-f390-p388-o1" method="post"
                                              class="wpcf7-form init" enctype="multipart/form-data"
                                              novalidate="novalidate" data-status="init">
                                            <div style="display: none;">
                                                <input type="hidden" name="_wpcf7" value="390">
                                                <input type="hidden" name="_wpcf7_version" value="5.4.2">
                                                <input type="hidden" name="_wpcf7_locale" value="fa_IR">
                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f390-p388-o1">
                                                <input type="hidden" name="_wpcf7_container_post" value="388">
                                                <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                            </div>
                                            <p><label> نام شما (الزامی)<br>
                                                <span class="wpcf7-form-control-wrap your-name"><input type="text"
                                                                                                       name="your-name"
                                                                                                       value=""
                                                                                                       size="40"
                                                                                                       class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                                       aria-required="true"
                                                                                                       aria-invalid="false"></span>
                                            </label></p>
                                            <p><label> ایمیل شما (الزامی)<br>
                                                <span class="wpcf7-form-control-wrap your-email"><input type="email"
                                                                                                        name="your-email"
                                                                                                        value=""
                                                                                                        size="40"
                                                                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                                        aria-required="true"
                                                                                                        aria-invalid="false"></span>
                                            </label></p>
                                            <p><label> تلفن شما<br>
                                                <span class="wpcf7-form-control-wrap tel-977"><input type="tel"
                                                                                                     name="tel-977"
                                                                                                     value="" size="40"
                                                                                                     class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel"
                                                                                                     aria-invalid="false"></span><br>
                                            </label></p>
                                            <p><label> موضوع<br>
                                                <span class="wpcf7-form-control-wrap your-subject"><input type="text"
                                                                                                          name="your-subject"
                                                                                                          value=""
                                                                                                          size="40"
                                                                                                          class="wpcf7-form-control wpcf7-text"
                                                                                                          aria-invalid="false"></span>
                                            </label></p>
                                            <p><label> پیام شما<br>
                                                <span class="wpcf7-form-control-wrap your-message"><textarea
                                                        name="your-message" cols="40" rows="10"
                                                        class="wpcf7-form-control wpcf7-textarea"
                                                        aria-invalid="false"></textarea></span> </label></p>
                                            <p><label> ارسال فایل<br>
                                                <span class="wpcf7-form-control-wrap file-433"><input type="file"
                                                                                                      name="file-433"
                                                                                                      size="40"
                                                                                                      class="wpcf7-form-control wpcf7-file"
                                                                                                      accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv"
                                                                                                      aria-invalid="false"></span><br>
                                            </label></p>
                                            <p><input type="submit" value="ارسال"
                                                      class="wpcf7-form-control wpcf7-submit"><span
                                                    class="ajax-loader"></span></p>
                                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="comments-header"><h4><i class="fa fa-comments" aria-hidden="true"></i> ثبت دیدگاه</h4>
                        <b></b></div>
                    <div class="ap-single"><!-- If comments are closed. -->
                        <p class="nocomments">دیدگاهها بسته است.</p>
                    </div>
                </div>
            </div>
            <div class="co-aside sidebar"
                 style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                <div class="theiaStickySidebar"
                     style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 166.5px;">
                    <div class="sidebar-box">
                        <div class="sidebar-header"><h4>آخرین اخبار</h4><b></b></div>
                        <div class="sidebar-content">
                            <div class="post-wrap">
                                <div class="widget wid-editors">
                                    <div class="list">
                                        <div class="item clearfix">
                                            <div class="thumbnail">
                                                <a href="https://emamat.org/register/"><img
                                                        src="https://emamat.org/wp-content/uploads/2021/06/امام-شناسی-185x125.jpg"
                                                        alt="ثبت نام سطح ۴ امام شناسی"></a>
                                            </div>
                                            <div class="det">
                                                <h2><a href="https://emamat.org/register/"
                                                       title="ثبت نام سطح ۴ امام شناسی">ثبت نام سطح ۴ امام شناسی</a>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="thumbnail">
                                                <a href="https://emamat.org/%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%da%af%d8%b1%d8%a7%db%8c%d8%b4-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%aa%d8%b7%d8%a8%db%8c%d9%82%db%8c-%d8%b3%d8%b7%d8%ad4-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c/"><img
                                                        src="https://emamat.org/wp-content/uploads/2021/05/2123-185x125.jpg"
                                                        alt="امامت گرایش امامت تطبیقی (سطح۴ حوزه علمیه)"></a>
                                            </div>
                                            <div class="det">
                                                <div class="au_name">معاونت آموزش</div>
                                                <h2>
                                                    <a href="https://emamat.org/%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%da%af%d8%b1%d8%a7%db%8c%d8%b4-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%aa%d8%b7%d8%a8%db%8c%d9%82%db%8c-%d8%b3%d8%b7%d8%ad4-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c/"
                                                       title="امامت گرایش امامت تطبیقی (سطح۴ حوزه علمیه)">امامت گرایش
                                                        امامت تطبیقی (سطح۴ حوزه علمیه)</a></h2>
                                            </div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="thumbnail">
                                                <a href="https://emamat.org/%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%da%af%d8%b1%d8%a7%db%8c%d8%b4-%d8%a7%d9%85%d8%a7%d9%85-%d8%b4%d9%86%d8%a7%d8%b3%db%8c-%d8%b3%d8%b7%d8%ad4-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"><img
                                                        src="https://emamat.org/wp-content/uploads/2021/05/2122-185x125.jpg"
                                                        alt="امامت گرایش امام شناسی (سطح۴ حوزه علمیه)"></a>
                                            </div>
                                            <div class="det">
                                                <div class="au_name">معاونت آموزش</div>
                                                <h2>
                                                    <a href="https://emamat.org/%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%da%af%d8%b1%d8%a7%db%8c%d8%b4-%d8%a7%d9%85%d8%a7%d9%85-%d8%b4%d9%86%d8%a7%d8%b3%db%8c-%d8%b3%d8%b7%d8%ad4-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"
                                                       title="امامت گرایش امام شناسی (سطح۴ حوزه علمیه)">امامت گرایش امام
                                                        شناسی (سطح۴ حوزه علمیه)</a></h2>
                                            </div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="thumbnail">
                                                <a href="https://emamat.org/%d8%b1%d8%b4%d8%aa%d9%87-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%b3%d8%b7%d8%ad-3-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"><img
                                                        src="https://emamat.org/wp-content/uploads/2021/05/2121-185x125.jpg"
                                                        alt="رشته امامت (سطح ۳ حوزه علمیه)"></a>
                                            </div>
                                            <div class="det">
                                                <div class="au_name">معاونت آموزش</div>
                                                <h2>
                                                    <a href="https://emamat.org/%d8%b1%d8%b4%d8%aa%d9%87-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%b3%d8%b7%d8%ad-3-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"
                                                       title="رشته امامت (سطح ۳ حوزه علمیه)">رشته امامت (سطح ۳ حوزه
                                                        علمیه)</a></h2>
                                            </div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="thumbnail">
                                                <a href="https://emamat.org/%d9%86%d8%b4%d8%b3%d8%aa-%d8%b9%d9%84%d9%85%db%8c-%d8%a2%d9%85%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85-%d8%a7%d9%85%d8%a7%d9%85-%d8%af%d8%b1-%d9%85%db%8c%d8%b1%d8%a7%d8%ab-%da%a9%d9%84%d8%a7%d9%85%db%8c/"><img
                                                        src="https://emamat.org/wp-content/uploads/2021/05/محمدتقی-سبحانی-1-185x125.jpg"
                                                        alt="نشست علمی آموزه علم امام در میراث کلامی و حدیثی شیعه برگزار شد"></a>
                                            </div>
                                            <div class="det">
                                                <h2>
                                                    <a href="https://emamat.org/%d9%86%d8%b4%d8%b3%d8%aa-%d8%b9%d9%84%d9%85%db%8c-%d8%a2%d9%85%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85-%d8%a7%d9%85%d8%a7%d9%85-%d8%af%d8%b1-%d9%85%db%8c%d8%b1%d8%a7%d8%ab-%da%a9%d9%84%d8%a7%d9%85%db%8c/"
                                                       title="نشست علمی آموزه علم امام در میراث کلامی و حدیثی شیعه برگزار شد">نشست
                                                        علمی آموزه علم امام در میراث کلامی و حدیثی شیعه برگزار شد</a>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="thumbnail">
                                                <a href="https://emamat.org/%d8%af%d9%88%d8%b1%d9%87-%db%8c-%d8%b4%da%a9%d9%84-%da%af%db%8c%d8%b1%db%8c-%d8%aa%d8%b4%db%8c%d8%b9-%d8%af%d9%88%d8%a7%d8%b2%d8%af%d9%87-%d8%a7%d9%85%d8%a7%d9%85%db%8c%d8%9b-%d9%88%d8%a7%da%a9%d8%a7/"><img
                                                        src="https://emamat.org/wp-content/uploads/2021/05/3d90c75484c681bbf287c383961f88ec_XL-185x125.jpg"
                                                        alt="دوره ی شکل گیری تشیع دوازده امامی؛ واکاوی نقدها و ابهام ها"></a>
                                            </div>
                                            <div class="det">
                                                <h2>
                                                    <a href="https://emamat.org/%d8%af%d9%88%d8%b1%d9%87-%db%8c-%d8%b4%da%a9%d9%84-%da%af%db%8c%d8%b1%db%8c-%d8%aa%d8%b4%db%8c%d8%b9-%d8%af%d9%88%d8%a7%d8%b2%d8%af%d9%87-%d8%a7%d9%85%d8%a7%d9%85%db%8c%d8%9b-%d9%88%d8%a7%da%a9%d8%a7/"
                                                       title="دوره ی شکل گیری تشیع دوازده امامی؛ واکاوی نقدها و ابهام ها">دوره
                                                        ی شکل گیری تشیع دوازده امامی؛ واکاوی نقدها و ابهام ها</a></h2>
                                            </div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="thumbnail">
                                                <a href="https://emamat.org/%d8%ad%d8%af%db%8c%d8%ab-%d8%b3%db%8c%d8%af%d8%a7-%d8%b4%d8%a8%d8%a7%d8%a8-%d8%a3%d9%87%d9%84-%d8%a7%d9%84%d8%ac%d9%86%d9%87-%d9%88-%d9%85%d8%b3%d8%a3%d9%84%d9%87-%d8%a7%d9%81%d8%b6%d9%84/"><img
                                                        src="https://emamat.org/wp-content/uploads/2021/05/9e695766e56cd2f5910553065b7b31e4_XL-185x125.jpg"
                                                        alt="حدیث «سیدا شباب أهل الجنه» و مسأله افضلیّت امام"></a>
                                            </div>
                                            <div class="det">
                                                <h2>
                                                    <a href="https://emamat.org/%d8%ad%d8%af%db%8c%d8%ab-%d8%b3%db%8c%d8%af%d8%a7-%d8%b4%d8%a8%d8%a7%d8%a8-%d8%a3%d9%87%d9%84-%d8%a7%d9%84%d8%ac%d9%86%d9%87-%d9%88-%d9%85%d8%b3%d8%a3%d9%84%d9%87-%d8%a7%d9%81%d8%b6%d9%84/"
                                                       title="حدیث «سیدا شباب أهل الجنه» و مسأله افضلیّت امام">حدیث
                                                        «سیدا شباب أهل الجنه» و مسأله افضلیّت امام</a></h2>
                                            </div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="thumbnail">
                                                <a href="https://emamat.org/%d8%af%d8%b1%d8%a2%d9%85%d8%af%db%8c-%d8%a8%d8%b1-%d8%aa%d8%a7%d8%b1%db%8c%d8%ae-%da%a9%d9%84%d8%a7%d9%85-%d8%a7%d9%85%d8%a7%d9%85%db%8c%d9%87-%d8%af%d8%b1-%d8%ad%d9%84%d8%a8/"><img
                                                        src="https://emamat.org/wp-content/uploads/2021/05/0b5f7ec270f316b1345a82b850713678_XL-185x125.jpg"
                                                        alt="درآمدی بر تاریخ کلام امامیه در حلب"></a>
                                            </div>
                                            <div class="det">
                                                <div class="au_name">کلام امامیه</div>
                                                <h2>
                                                    <a href="https://emamat.org/%d8%af%d8%b1%d8%a2%d9%85%d8%af%db%8c-%d8%a8%d8%b1-%d8%aa%d8%a7%d8%b1%db%8c%d8%ae-%da%a9%d9%84%d8%a7%d9%85-%d8%a7%d9%85%d8%a7%d9%85%db%8c%d9%87-%d8%af%d8%b1-%d8%ad%d9%84%d8%a8/"
                                                       title="درآمدی بر تاریخ کلام امامیه در حلب">درآمدی بر تاریخ کلام
                                                        امامیه در حلب</a></h2>
                                            </div>
                                        </div>
                                        <div class="item clearfix">
                                            <div class="thumbnail">
                                                <a href="https://emamat.org/%d8%a7%d8%b9%d8%aa%d8%b1%d8%a7%d8%b6-%d8%b9%d9%84%d8%a7%d9%85%d9%87-%d8%b4%d8%b1%d9%81%e2%80%8c%d8%a7%d9%84%d8%af%db%8c%d9%86-%d8%a8%d9%87-%d8%aa%d8%ae%d8%b1%db%8c%d8%a8-%d8%a8%d9%82%d8%a7%d8%b9/"><img
                                                        src="https://emamat.org/wp-content/uploads/2021/05/e675bfe430f43f565b694df44587acc4_XL-185x125.jpg"
                                                        alt="اعتراض علامه شرف‌الدین به تخریب بقاع بقیع و تلاش های بین‌المللی"></a>
                                            </div>
                                            <div class="det">
                                                <div class="au_name">امامت پژوهی</div>
                                                <h2>
                                                    <a href="https://emamat.org/%d8%a7%d8%b9%d8%aa%d8%b1%d8%a7%d8%b6-%d8%b9%d9%84%d8%a7%d9%85%d9%87-%d8%b4%d8%b1%d9%81%e2%80%8c%d8%a7%d9%84%d8%af%db%8c%d9%86-%d8%a8%d9%87-%d8%aa%d8%ae%d8%b1%db%8c%d8%a8-%d8%a8%d9%82%d8%a7%d8%b9/"
                                                       title="اعتراض علامه شرف‌الدین به تخریب بقاع بقیع و تلاش های بین‌المللی">اعتراض
                                                        علامه شرف‌الدین به تخریب بقاع بقیع و تلاش های بین‌المللی</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!----------container--------->
    </section>
{% endblock %}