{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <section class="ap_main" style="margin-top:30px;">
        <div class="container inn">
            <div class="ap-single">
                <section class="article clearfix">
                    <div id="entry">
                        <div class="entry">
                            <ul class="links-cat">
                                <div class="mp">
                                    <ul class="cat_links">
                                        <li id="linkcat-104" class="linkcat"><h2>1- سایت های خبری</h2>
                                            <ul class="xoxo blogroll">
                                                <li><a href="http://www.aranmoghan.ir/">پایگاه خبری تحلیلی آران</a></li>
                                                <li><a href="http://www.jouybaran.ir">پایگاه خبری تحلیلی جویباران</a></li>
                                                <li><a href="http://www.mehrvarzi.ir/">پایگاه خبری تحلیلی مهرورزی</a></li>
                                                <li><a href="http://ravayatnews.com/">جامعه خبری ولایت</a></li>
                                                <li><a href="http://allefba.ir/">سایت خبری تحلیل الفبا</a></li>
                                                <li><a href="http://allefba.ir/">سایت خبری تحلیل الفبا</a></li>
                                                <li><a href="http://www.shareh.com/">شبکه اطلاع رسانی حوزه</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                            <ul class="links-cat">
                                <div class="mp">
                                    <ul class="cat_links">
                                        <li id="linkcat-103" class="linkcat"><h2>2- سایت های شخصیت ها</h2>
                                            <ul class="xoxo blogroll">
                                                <li><a href="http://portal.esra.ir/Pages/Index.aspx">آیت الله جوادی آملی</a>
                                                </li>
                                                <li><a href="http://www.mesbahyazdi.com/">آیت الله مصباح یزدی</a></li>
                                                <li><a href="http://www.noorihamedani.com/fa/home/">آیت الله نوری همدانی</a>
                                                </li>
                                                <li><a href="http://www.motahari.org/">استاد شهید مطهری</a></li>
                                                <li><a href="http://www.farshchianart.com/">استاد محمود فرشچیان</a></li>
                                                <li><a href="http://www.leader.ir/">اطلاع رسانی آیت الله خامنه ای</a></li>
                                                <li><a href="http://www.gharaati.ir/">درسهایی از قرآن</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                            <ul class="links-cat">
                                <div class="mp">
                                    <ul class="cat_links">
                                        <li id="linkcat-102" class="linkcat"><h2>3- سایت های مذهبی فرهنگی</h2>
                                            <ul class="xoxo blogroll">
                                                <li><a href="http://www.aqr.ir/">آستان قدس رضوی</a></li>
                                                <li><a href="http://www.hulma.ir/">پایگاه فرهنگی حلما</a></li>
                                                <li><a href="http://www.ghaemiyeh.com/">تحقیقات قائمیه اصفهان</a></li>
                                                <li><a href="http://www.islamicfeqh.com/">دائرة المعارف فقه اسلامی</a></li>
                                                <li><a href="http://www.ahlulbaytportal.com/">مجمع جهانی اهل بیت</a></li>
                                                <li><a href="http://www.ic-el.com/">مرکز اسلامی انگلیس</a></li>
                                                <li><a href="http://www.islam4u.com/">مرکزالاشعاع الاسلامی</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                            <ul class="links-cat">
                                <div class="mp">
                                    <ul class="cat_links">
                                        <li id="linkcat-101" class="linkcat"><h2>4- کانال های تلگرام</h2>
                                            <ul class="xoxo blogroll">
                                                <li><a href="https://telegram.me/osolgaradaily">اصولگرا نیوز</a></li>
                                                <li><a href="https://telegram.me/bisimchi1">بیسیم چی</a></li>
                                                <li><a href="https://telegram.me/joinchat/D2kD_T7153zKiIEG3xaocg">تصویر
                                                    هنر</a></li>
                                                <li><a href="https://telegram.me/farsna">خبرگزاری فارس</a></li>
                                                <li>
                                                    <a href="https://telegram.me/joinchat/BtnhTDwqMzRw9ayeRWrBMA">روشنگری</a>
                                                </li>
                                                <li><a href="https://telegram.me/joinchat/Brw2TT6LxBtEyXfs8TpgVg">صحیفه
                                                    نور</a></li>
                                                <li><a href="https://telegram.me/joinchat/BgNgpzvSF88Kr4JB_SaU8g">مدع
                                                    عشق</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                            <ul class="links-cat">
                                <div class="mp">
                                    <ul class="cat_links">
                                        <li id="linkcat-106" class="linkcat"><h2>5- سایت های سازمانها</h2>
                                            <ul class="xoxo blogroll">
                                                <li><a href="http://www.nlai.ir/">سازمان اسناد و کتابخانه ملی</a></li>
                                                <li><a href="http://www.hajnews.ir/">سازمان حج و زیارت</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                            <ul class="links-cat">
                                <div class="mp">
                                    <ul class="cat_links">
                                        <li id="linkcat-105" class="linkcat"><h2>6- سایت های دانشگاه ها</h2>
                                            <ul class="xoxo blogroll">
                                                <li><a href="http://www.isu.ac.ir/">دانشگاه امام صادق(ع)</a></li>
                                                <li><a href="http://www.iust.ac.ir/">دانشگاه علم و صنعت ایران</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                            <ul class="links-cat">
                                <div class="mp">
                                    <ul class="cat_links">
                                        <li id="linkcat-107" class="linkcat"><h2>7- سایت های علمی</h2>
                                            <ul class="xoxo blogroll">
                                                <li><a href="http://www.itan.ir/">شبکه تحلیلگران تکنولوژی ایران</a></li>
                                                <li><a href="http://www.cpro.ir/">مرکز جامع پروژه های دانشجویی</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                            <ul class="links-cat">
                                <div class="mp">
                                    <ul class="cat_links">
                                        <li id="linkcat-108" class="linkcat"><h2>8- مراکز تحقیقاتی</h2>
                                            <ul class="xoxo blogroll">
                                                <li><a href="http://www.noormags.com/">پایگاه مجلات تخصصی نور</a></li>
                                                <li><a href="http://www.iict.ac.ir/">پژوهشگاه فرهنگ و اندیشه اسلامی</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div><!----------container--------->
    </section>
{% endblock %}