{% extends 'website/base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
<section class="ap_main" style="transform: none;">
    <div class="container inn" style="transform: none;">
        <div class="ap_news" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
            <!------------boxe-a------------->
            <div class="theiaStickySidebar"
                 style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                <div class="ap-single">
                    <section class="article clearfix">
                        <div class="iim">
                            <div class="breadpo">
                                <a href="{% url 'website:index' %}" title="امامت">صفحه اصلی </a>»
                                <a href="{% url 'blog:blog-archive' %}" rel="category tag">اخبار</a> »
                                {{ post.title }}
                            </div>
                        </div>

                        <div class="imed">
                            <div class="thumbnail">
                                <div class="mass"></div>
                                <a href="{% url 'blog:blog-single' pid=post.id %}">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}"></a>
                                <div class="datep">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.published_date|date:"H:i - Y/m/d" }}
                                </div>
                                <div class="shtep"><i class="fa fa-info" aria-hidden="true"></i> شناسه : {{ post.id }}</div>
                                <div class="letep"><b>بازدید </b><span>{{ post.counter_views }}</span></div>
                            </div>
                            <div class="excerpt">
                                <div class="post_like">
                                    <button id="like-button" type="button" class="button" data-form-id="{{ post.id }}">
                                        <span class="button__text">
                                            <span class="sl-icon" style="font-size: 10px">
                                                <svg role="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
                                                    <path id="heart" d="M64 127.5C17.1 79.9 3.9 62.3 1 44.4c-3.5-22 12.2-43.9 36.7-43.9 10.5 0 20 4.2 26.4 11.2 6.3-7 15.9-11.2 26.4-11.2 24.3 0 40.2 21.8 36.7 43.9C124.2 62 111.9 78.9 64 127.5zM37.6 13.4c-9.9 0-18.2 5.2-22.3 13.8C5 49.5 28.4 72 64 109.2c35.7-37.3 59-59.8 48.6-82 -4.1-8.7-12.4-13.8-22.3-13.8 -15.9 0-22.7 13-26.4 19.2C60.6 26.8 54.4 13.4 37.6 13.4z"></path>
                                                    ♥
                                                </svg>
                                            </span>
                                            <span class="sl-count">{{ post.like }}</span>
                                        </span>
                                    </button>
                                </div>

                                <div class="categorie">
                                دسته بندی :
                                {% for cat in post.category.all %}
                                    <a href="{% url 'blog:category' cat_name=cat.name %}"> <span>{{ cat.name }}</span></a>{% if not forloop.last %} - {% endif %}
                                {% endfor %}
                                </div>
                                <div class="tttl"><h1><a href="">{{ post.title }}</a></h1></div>
                                <div class="manba">
                                    نویسنده :
                                    {% for author in post.author.all %}
                                    <a href="{% url 'blog:author' author_username=author.username %}" ><span> {{ author.get_full_name }} </span></a>{% if not forloop.last %} - {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="conteneur_barre_outils">
                            <div class="soc">
                                <a target="_blank"
                                   href="http://www.facebook.com/sharer/sharer.php?u={% url 'blog:blog-single' pid=post.id %}"
                                   title="اشتراک گذاری در فیسبوک" rel="tooltip" class="fa fa-facebook"></a>
                                <a target="_blank"
                                   href="http://twitter.com/home?status={% url 'blog:blog-single' pid=post.id %}"
                                   title="اشتراک گذاری در تویتر" rel="tooltip" class="fa fa-twitter"></a>
                                <a target="_blank"
                                   href="http://plus.google.com/share?url={% url 'blog:blog-single' pid=post.id %}"
                                   title="اشتراک گذاری در گوگل پلاس" rel="tooltip" class="fa fa-google-plus"></a>
                                <a target="_blank"
                                   href="https://www.linkedin.com/shareArticle?mini=true&amp;url={% url 'blog:blog-single' pid=post.id %}"
                                   title="اشتراک گذاری در لینکداین" rel="tooltip" class="fa fa-linkedin"></a>
                                <a target="_blank"
                                   href="https://telegram.me/share/url?url={% url 'blog:blog-single' pid=post.id %}"
                                   title="اشتراک گذاری در تلگرام" rel="tooltip" class="fa fa-paper-plane"></a>
                                <a target="_blank"
                                   href="https://whatsapp://send?text={% url 'blog:blog-single' pid=post.id %}"
                                   title="اشتراک گذاری در واتساپ" rel="tooltip" class="fa fa-whatsapp"></a>
                            </div>
                            <div class="fontsize">
                                <div class="report">
                                    <div id="permalink">
                                        <button onclick="copyToClipboard('#coop')">کپی</button>
                                        <div id="coop">{{ request.get_host }}{% url 'blog:blog-single' pid=post.id %}</div>
                                    </div>
                                </div>
                                <a rel="nofollow" class="send_file left"
                                   href="mailto:?subject={{ post.title }}&amp;body={{ post.title }}.{{ request.get_host }}{% url 'blog:blog-single' pid=post.id %}"
                                   title="{{ post.title }}">
                                </a>
                                <a class="print" href="#" onclick="window.open(&quot;{% url 'blog:blog-single' pid=post.id %}?print=1&quot;, &quot;printwin&quot;,&quot;left=200,top=200,width=820,height=550,toolbar=1,resizable=0,status=0,scrollbars=1&quot;);"></a>
                                <div class="plustext">پ</div>
                                <div class="minustext">پ</div>
                            </div>
                        </div>
                        <div id="entry">
                            <div class="entry">
                                <p>{{ post.content|safe }}</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="clearfix"></div>
                <div class="tags-links">
                    <div class="im-tag-title clearfix"><i class="fa fa-tags"></i>برچسب ها</div>
                    <div class="im-tag-items">
                    {% for tag in post.tags.all %}
                        <a href="{% url 'blog:tag' tag_name=tag.name %}" rel="tag">{{ tag.name }}</a>/
                    {% endfor %}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="boxe-b">
                    <div class="title"><h4>نوشته های مشابه</h4><b></b></div>
                    <div class="boxe-c">
                        <div class="bottom">
                            {% for cat in post.category.all|slice:":1" %}
                                {% blog_similar_post 4 cat.id %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="comments-header"><h4><i class="fa fa-comments" aria-hidden="true"></i> ثبت دیدگاه</h4>
                    <b></b></div>
                <div class="ap-single"><!-- If comments are open, but there are no comments. -->

                    <header class="comments-reply">
                        <div id="respond">
                            <div class="comment-text">
                                <div class="right"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
                                <div class="left">
                                    <ul>
                                        <li>دیدگاه های ارسال شده توسط شما، پس از تایید توسط تیم مدیریت در وب منتشر خواهد
                                            شد.
                                        </li>
                                        <li>پیام هایی که به غیر از زبان فارسی یا غیر مرتبط باشد منتشر نخواهد شد.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div id="cancel-comment-reply">
                                <small><a rel="nofollow" id="cancel-comment-reply-link"
                                          href="{% url 'blog:blog-single' pid=post.id %}#respond"
                                          style="display:none;">برای صرف‌نظر کردن از پاسخ‌گویی اینجا را کلیک نمایید.</a></small>
                            </div>
                            <form action="" method="post" id="commentform">
                                {% csrf_token %}
                                <div class="beena_textarea">
                                    <textarea name="comment" id="comment" cols="58" rows="10" tabindex="4" placeholder="متن دیدگاه"></textarea>
                                </div>
                                <div class="beena_inputs">
                                    <input type="text" name="author" id="author" value="" size="22" tabindex="1"
                                           aria-required="true" placeholder="نام و نام خانوادگی">
                                    <input type="text" name="email" id="email" value="" size="22" tabindex="2"
                                           aria-required="true" placeholder="آدرس ایمیل">
                                    <button type="submit" class="comment-submit"> ثبت دیدگاه</button>
                                </div>
                                <input type="hidden" name="comment_post_ID" value="436" id="comment_post_ID">
                                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                <p></p>
                            </form>
                        </div>

                    </header>

                </div>
            </div>
        </div>
        {% lastpost_single 8 %}
    </div><!----------container--------->
</section>
{% endblock %}