{% load static %}
{% for post in posts %}
    <section class="apnews ne_three">
        <div class="polist clearfix">
            <div class="item clearfix">
                <div class="thumbnail">
                    <a href="{% url 'blog:blog-single' pid=post.id %}">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    </a>
                    <div class="dated"><i class="fa fa-clock-o" aria-hidden="true"></i>{{ post.published_date|date:"H:i - Y/m/d" }}</div>
                    <div style="width: 40px; height: 50px;" class="letep">
                        <b style="margin: 0; background: #333;padding: 0;text-align: center;">بازدید </b>
                        <span style="background-color: #008000;">{{ post.counter_views }}</span>
                    </div>
                    <div class="hoov"></div>
                </div>
                <div class="det">
                    <div class="met">
                    </div>
                    <h2><a href="{% url 'blog:blog-single' pid=post.id %}" title="{{ post.title }}">{{ post.title }}</a>
                    </h2>
                    <p>{{ post.content|truncatechars:300 }}</p>
                </div>
            </div>
        </div>
    </section>
{% endfor %}