{% extends 'website/base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
    <section class="ap_main" style="transform: none;">
        <div class="container inn" style="transform: none;">
            <div class="ap_news"
                 style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                <div class="theiaStickySidebar"
                     style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 585.556px;">
                    <div class="clearfix"></div>
                    <div class="box-a">
                        <div class="box-b">
                            <h4> آرشیو » اخبار</h4><b></b>
                            {% for post in posts %}
                                <section class="apnews ne_three">
                                    <div class="polist clearfix">
                                        <div class="item clearfix">
                                            <div class="thumbnail">
                                                <a href="{% url 'blog:blog-single' pid=post.id %}">
                                                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                                </a>
                                                <div class="dated"><i class="fa fa-clock-o"
                                                                      aria-hidden="true"></i>{{ post.published_date|date:"H:i - Y/m/d" }}
                                                </div>
                                                <div style="width: 40px; height: 50px;" class="letep">
                                                    <b style="margin: 0; background: #333;padding: 0;text-align: center;">بازدید </b>
                                                    <span style="background-color: #008000;">{{ post.counter_views }}</span>
                                                </div>
                                                <div class="hoov"></div>
                                            </div>
                                            <div class="det">
                                                <div class="met">
                                                </div>
                                                <h2><a href="{% url 'blog:blog-single' pid=post.id %}"
                                                       title="{{ post.title }}">{{ post.title }}</a>
                                                </h2>
                                                <p>{{ post.content|truncatechars:300|safe }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% endfor %}
                            <div class="pagination">
                                {% if posts.has_previous %}
                                    <a href="?page={{ posts.previous_page_number }}">قبلی</a>
                                {% endif %}
                                {% for i in posts.paginator.page_range %}
                                    {% if posts.number == i %}
                                        <span class="current">{{ i }}</span>
                                    {% else %}
                                        <a href="?page={{ i }}" class="inactive">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}
                                {% if posts.has_next %}
                                    <a href="?page={{ posts.next_page_number }}">بعدی</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="co-aside sidebar"
                 style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                <div class="theiaStickySidebar"
                     style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                    {% postcatgories %}
                    {% lastpost_archive 5 %}
                    <div class="sidebar-box">
                        <div class="sidebar-header"><h4>آموزش</h4><b></b></div>
                        <div class="sidebar-content">
                            {% sidebar_box_top 1 1 %}
                            {% sidebar_box_down 4 1 %}
                        </div>
                    </div>
                    {% sidebar_slider 3 1 %}
                </div>
            </div>
        </div><!----------container--------->
    </section>
{% endblock %}