{% extends 'website/base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
    <section class="ap_main" style="transform: none;">
        <div class="container inn" style="transform: none;">
            <div class="ap_news"
                 style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                <div class="theiaStickySidebar"
                     style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 585.556px;">
                    <div class="clearfix"></div>
                    <div class="box-a">
                        <div class="box-b">
                            <h4> آرشیو » اخبار</h4><b></b>
                            {% for post in posts %}
                                <section class="apnews ne_three">
                                    <div class="polist clearfix">
                                        <div class="item clearfix">
                                            <div class="thumbnail">
                                                <a href="{% url 'blog:blog-single' pid=post.id %}">
                                                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                                </a>
                                                <div class="dated"><i class="fa fa-clock-o"
                                                                      aria-hidden="true"></i>{{ post.published_date|date:"H:i - Y/m/d" }}
                                                </div>
                                                <div style="width: 40px; height: 50px;" class="letep">
                                                    <b style="margin: 0; background: #333;padding: 0;text-align: center;">بازدید </b>
                                                    <span style="background-color: #008000;">{{ post.counter_views }}</span>
                                                </div>
                                                <div class="hoov"></div>
                                            </div>
                                            <div class="det">
                                                <div class="met">
                                                </div>
                                                <h2><a href="{% url 'blog:blog-single' pid=post.id %}"
                                                       title="{{ post.title }}">{{ post.title }}</a>
                                                </h2>
                                                <p>{{ post.content|truncatechars:300 }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% endfor %}
                            <div class="pagination">
                                {% if posts.has_previous %}
                                    <a href="?page={{ posts.previous_page_number }}">قبلی</a>
                                {% endif %}
                                {% for i in posts.paginator.page_range %}
                                    {% if posts.number == i %}
                                        <span class="current">{{ i }}</span>
                                    {% else %}
                                        <a href="?page={{ i }}" class="inactive">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}
                                {% if posts.has_next %}
                                    <a href="?page={{ posts.next_page_number }}">بعدی</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="co-aside sidebar"
                 style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                <div class="theiaStickySidebar"
                     style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                    {% postcatgories %}
                    {% lastpost_archive 5 %}
                    <div class="sidebar-box">
                        <div class="sidebar-header"><h4>آموزش</h4><b></b></div>
                        <div class="sidebar-content">
                            <div class="toop">
                                <div class="thumbnail">
                                    <a href="https://emamat.org/%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%da%af%d8%b1%d8%a7%db%8c%d8%b4-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%aa%d8%b7%d8%a8%db%8c%d9%82%db%8c-%d8%b3%d8%b7%d8%ad4-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c/"><img
                                            src="https://emamat.org/wp-content/uploads/2021/05/2123-450x320.jpg"
                                            alt="امامت گرایش امامت تطبیقی (سطح۴ حوزه علمیه)"></a>
                                    <div class="dated"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 ماه قبل</div>
                                    <div class="hoov"></div>
                                </div>
                                <div class="det">
                                    <div class="cat">معاونت آموزش</div>
                                    <h2>
                                        <a href="https://emamat.org/%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%da%af%d8%b1%d8%a7%db%8c%d8%b4-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%aa%d8%b7%d8%a8%db%8c%d9%82%db%8c-%d8%b3%d8%b7%d8%ad4-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c/"
                                           title="امامت گرایش امامت تطبیقی (سطح۴ حوزه علمیه)">امامت گرایش امامت تطبیقی
                                            (سطح۴ حوزه علمیه)</a></h2>
                                </div>
                            </div>

                            <div class="boott">
                                <div class="thumbnail">
                                    <a href="https://emamat.org/%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%da%af%d8%b1%d8%a7%db%8c%d8%b4-%d8%a7%d9%85%d8%a7%d9%85-%d8%b4%d9%86%d8%a7%d8%b3%db%8c-%d8%b3%d8%b7%d8%ad4-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"><img
                                            src="https://emamat.org/wp-content/uploads/2021/05/2122-220x160.jpg"
                                            alt="امامت گرایش امام شناسی (سطح۴ حوزه علمیه)"></a>
                                    <div class="hoov"></div>
                                </div>
                                <div class="det">
                                    <h2>
                                        <a href="https://emamat.org/%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%da%af%d8%b1%d8%a7%db%8c%d8%b4-%d8%a7%d9%85%d8%a7%d9%85-%d8%b4%d9%86%d8%a7%d8%b3%db%8c-%d8%b3%d8%b7%d8%ad4-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"
                                           title="امامت گرایش امام شناسی (سطح۴ حوزه علمیه)">امامت گرایش امام شناسی (سطح۴
                                            حوزه علمیه)</a></h2>
                                </div>
                            </div>
                            <div class="boott">
                                <div class="thumbnail">
                                    <a href="https://emamat.org/%d8%b1%d8%b4%d8%aa%d9%87-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%b3%d8%b7%d8%ad-3-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"><img
                                            src="https://emamat.org/wp-content/uploads/2021/05/2121-220x160.jpg"
                                            alt="رشته امامت (سطح ۳ حوزه علمیه)"></a>
                                    <div class="hoov"></div>
                                </div>
                                <div class="det">
                                    <h2>
                                        <a href="https://emamat.org/%d8%b1%d8%b4%d8%aa%d9%87-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%b3%d8%b7%d8%ad-3-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"
                                           title="رشته امامت (سطح ۳ حوزه علمیه)">رشته امامت (سطح ۳ حوزه علمیه)</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="posts-slider-widget-2" class="ap_slider slick-initialized slick-slider"><i
                            class="fa fa-chevron-right button-prev slick-arrow" style="display: flex;"></i>
                        <div aria-live="polite" class="slick-list draggable">
                            <div class="slick-track" role="listbox" style="opacity: 1; width: 1200px;">
                                <div class="item clearfix slick-slide" data-slick-index="0" aria-hidden="true"
                                     tabindex="-1" role="option" aria-describedby="slick-slide00"
                                     style="width: 400px; position: relative; right: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 300ms cubic-bezier(0.7, 0, 0.3, 1) 0s;">
                                    <div class="thumbnail">
                                        <a href="https://emamat.org/register/" tabindex="-1"><img
                                                src="https://emamat.org/wp-content/uploads/2021/06/امام-شناسی-450x243.jpg"
                                                alt="ثبت نام سطح ۴ امام شناسی"></a>
                                    </div>
                                    <div class="det">
                                        <div class="met">
                                            <span class="time"> 18 خرداد 1400 </span>
                                        </div>
                                        <h2><a href="https://emamat.org/register/" title="ثبت نام سطح ۴ امام شناسی"
                                               tabindex="-1">ثبت نام سطح ۴ امام شناسی</a></h2>
                                    </div>
                                </div>
                                <div class="item clearfix slick-slide slick-current slick-active" data-slick-index="1"
                                     aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01"
                                     style="width: 400px; position: relative; right: -400px; top: 0px; z-index: 999; opacity: 1;">
                                    <div class="thumbnail">
                                        <a href="https://emamat.org/%d8%b1%d8%b4%d8%aa%d9%87-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%b3%d8%b7%d8%ad-3-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"
                                           tabindex="0"><img
                                                src="https://emamat.org/wp-content/uploads/2021/05/2121-450x320.jpg"
                                                alt="رشته امامت (سطح ۳ حوزه علمیه)"></a>
                                    </div>
                                    <div class="det">
                                        <div class="met">
                                            <span class="time"> 01 خرداد 1400 </span>
                                        </div>
                                        <h2>
                                            <a href="https://emamat.org/%d8%b1%d8%b4%d8%aa%d9%87-%d8%a7%d9%85%d8%a7%d9%85%d8%aa-%d8%b3%d8%b7%d8%ad-3-%d8%ad%d9%88%d8%b2%d9%87-%d8%b9%d9%84%d9%85%db%8c%d9%87/"
                                               title="رشته امامت (سطح ۳ حوزه علمیه)" tabindex="0">رشته امامت (سطح ۳ حوزه
                                                علمیه)</a></h2>
                                    </div>
                                </div>
                                <div class="item clearfix slick-slide" data-slick-index="2" aria-hidden="true"
                                     tabindex="-1" role="option" aria-describedby="slick-slide02"
                                     style="width: 400px; position: relative; right: -800px; top: 0px; z-index: 998; opacity: 0; transition: opacity 300ms cubic-bezier(0.7, 0, 0.3, 1) 0s;">
                                    <div class="thumbnail">
                                        <a href="https://emamat.org/%d8%ad%d8%af%db%8c%d8%ab-%d8%b3%db%8c%d8%af%d8%a7-%d8%b4%d8%a8%d8%a7%d8%a8-%d8%a3%d9%87%d9%84-%d8%a7%d9%84%d8%ac%d9%86%d9%87-%d9%88-%d9%85%d8%b3%d8%a3%d9%84%d9%87-%d8%a7%d9%81%d8%b6%d9%84/"
                                           tabindex="-1"><img
                                                src="https://emamat.org/wp-content/uploads/2021/05/9e695766e56cd2f5910553065b7b31e4_XL.jpg"
                                                alt="حدیث «سیدا شباب أهل الجنه» و مسأله افضلیّت امام"></a>
                                    </div>
                                    <div class="det">
                                        <div class="met">
                                            <span class="time"> 01 خرداد 1400 </span>
                                        </div>
                                        <h2>
                                            <a href="https://emamat.org/%d8%ad%d8%af%db%8c%d8%ab-%d8%b3%db%8c%d8%af%d8%a7-%d8%b4%d8%a8%d8%a7%d8%a8-%d8%a3%d9%87%d9%84-%d8%a7%d9%84%d8%ac%d9%86%d9%87-%d9%88-%d9%85%d8%b3%d8%a3%d9%84%d9%87-%d8%a7%d9%81%d8%b6%d9%84/"
                                               title="حدیث «سیدا شباب أهل الجنه» و مسأله افضلیّت امام" tabindex="-1">حدیث
                                                «سیدا شباب أهل الجنه» و مسأله افضلیّت امام</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <i class="fa fa-chevron-left button-next slick-arrow" style="display: flex;"></i></div>
                </div>
            </div>
        </div><!----------container--------->
    </section>
{% endblock %}